src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get:\laboratory\results\(patientId):sys-sftp-api-config" doc:id="c35da124-bc8b-43e5-85b1-a7cc491c5b76" >
		<set-variable value="#[attributes.uriParams.patientId]" doc:name="[patientId]" doc:id="0305e239-f88d-469d-96cf-23c2479f0c03" variableName="patientId" />
		<flow-ref doc:name="sub-get-laboratory-results" doc:id="872f248f-f55d-4979-9230-d56323ea03cb" name="sub-get-laboratory-results" />
	</flow>
	<flow name="get:\radiology\results\(patientId):sys-sftp-api-config" doc:id="8c5acd2b-5650-4ece-bcb6-02c917617ac6" >
		<set-variable value="#[attributes.uriParams.patientId]" doc:name="[patientId]" doc:id="37793420-d4a4-44db-a035-8703c24f8941" variableName="patientId" />
		<flow-ref doc:name="sub-get-radiology-results" doc:id="504af072-7540-4cc1-9618-2a3a21cd5b4b" name="sub-get-radiology-results" />
	</flow>
</mule>
